<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"></head>
<body class="bg-light">
<div th:replace="fragments/header :: navbar"></div>

<div class="container-fluid">
    <div class="d-flex flex-row">
        <div class="col-3 flex-column flex-fill"></div>
        <div class="col-6 justify-content-center flex-fill">
            <div th:replace="fragments/tweetlayout :: tweetbox"></div>
        </div>
        <div class="col-3 flex-column flex-fill">
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}" class="btn btn-outline-secondary small m-3 float-right" th:text="'Admin panel'"></a>
        </div>
    </div>
</div>

<div th:replace="fragments/modals :: modal-login"></div>
<div th:replace="fragments/modals :: modal-signup"></div>
<div th:replace="fragments/modals :: modal-tweet"></div>

</body>
</html>
